<div id="post_content">
  <% @posts.each do |post| %>
    <div id="post_body">
      <h1 class="title"><%= link_to(post.title, post) %></h1>
      <p class="date_and_author">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
      <p class="body"><%= post.body %></p>
    </div>
  <% end %>
</div>
