// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#post_content {
  display:overflow;
  img{
  }
  #profile_pic {
        float:left;

          font-weight:300;
  }
  #about_me {
    font-weight:300;
    margin-left: 20em;
    p {
      margin-top:1em;
    }
  }
}
